.footer {
  display: flex;
  padding-left: 4rem;
  padding-right: 4rem;
  padding-top: 6rem;
  padding-bottom: 2rem;
  background-color: #ecf1fc;

  .col1 {
    h1 {
      padding-bottom: 2rem;

      @media (max-width: 800px) {
        padding-top: 2rem;
        padding-bottom: 1rem;
      }
    }
  }

  .socials {
    display: flex;
    gap: 2rem;
    padding-top: 2rem;
  }
}

.footer_content {
  width: 100%;
  display: flex;
  justify-content: space-evenly;

  @media (max-width: 800px) {
    flex-direction: column;
  }
}

.copyrights {
  display: flex;
  justify-content: center;
  background-color: #ecf1fc;
  padding: 1rem;
}
