* {
  padding: 0%;
  margin: 0%;
}

body,
html {
  font-family: "Poppins", sans-serif;
}

::-webkit-scrollbar {
  width: 7px;
  height: 5px;
}
::-webkit-scrollbar-track {
  border-radius: 5px;
}
::-webkit-scrollbar-thumb {
  background: #4540e1;
  border-radius: 15px;
}
